html, body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

.header {
    font-family: 'Share Tech Mono', monospace;
    color: var(--first);
    background-color: var(--corner);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.results {
    color: var(--text);
}


.imagem {
    width: 490px;
    height: 283px;
}

.picTitle {
    font-weight: bold;
    color: var(--title);
}